@*************************************************
    Shows statisctics in tables:
    1)Files: file id, user id, filename, date of uploading, rating
    2)Users: user id, ip, number of visits
*************************************************@

@(filePage: Page[File], fileSortBy: String, fileOrder: String, filenameFilter: String, userList: List[User])
@main(title = "Statistics"){

    <div id="actions">
        
        <form action="@fileLink(0, "name")" method="GET">
            <input type="search" id="searchbox" name="f" value="@filenameFilter" placeholder="Filter files by filename...">
            <input type="submit" id="searchsubmit" value="Filter files by filename" class="btn primary">
        </form>
    </div>


    @*** Table of files ***@
    @if(filePage.getTotalRowCount == 0){
	<div class="well">
	    <em>There is no file to display</em>
	</div>
    }else{

	<h2>Files:</h2>
	<table class="table table-bordered table-striped">
	    <thead>
		<tr>
		    @fileHeader("id", "File id")
		    @fileHeader("userId", "User id")
		    @fileHeader("filename", "Filename")
		    @fileHeader("dateOfUploading", "Date of uploading")
		    @fileHeader("rate", "Rating")
		</tr>
	    </thead>
	
	    <tbody>
		@for(file <- filePage.getList){
		    <tr>
			<td>
			    @if(file.id == null){
				<em>-</em>
				}else {
			        @file.id
			    }
			</td>
			<td>
			    @if(file.userId == null){
				<em>-</em>
			    }else {
				@file.userId
			    }
			</td>
			<td>
			    @if(file.filename == null){
				<em>-</em>
			    }else {
				@file.filename
			    }
			</td>
			<td>
			    @if(file.dateOfUploading == null){
				<em>-</em>
			    }else {
				@file.dateOfUploading
			    }
			</td>
			<td>
			    @file.rate
			</td>

		    </tr>
		}
	    </tbody>
	</table>

        <div id="pagination" class="pagination">
            <ul>
                @if(filePage.hasPrev) {
                    <li class="prev">
                        <a href="@fileLink(filePage.getPageIndex - 1, null)">&larr; Previous</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @filePage.getDisplayXtoYofZ(" to "," of ")</a>
                </li>
                @if(filePage.hasNext) {
                    <li class="next">
                        <a href="@fileLink(filePage.getPageIndex + 1, null)">Next &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
    }

    @*** Table of users ***@
    @if(userList.isEmpty()){
	<div class="well">
	    <em>There is no file to display</em>
	</div>
    }else{

	<h2>Users:</h2>
	<table class="table table-bordered table-striped">
	    <thead>
		<tr>
		    <th>Id</th>
		    <th>Ip</th>
		    <th>Number of visits</th>
		</tr>
	    </thead>
	
	    <tbody>
		@for(user <- userList){
		    <tr>
			<td>
			    @if(user.id == null){
				<em>-</em>
				}else {
			        @user.id
			    }
			</td>
			<td>
			    @if(user.ip == null){
				<em>-</em>
			    }else {
				@user.ip
			    }
			</td>
			<td>
			    @if(user.numberOfVisits == null){
				<em>-</em>
			    }else {
				@user.numberOfVisits
			    }
			</td>
		    </tr>
		}
	    </tbody>
	</table>
    }

}

@****************************************
    Helper generating navigation links    
****************************************@
@fileLink(newPage:Int, newSortBy:String) = @{
    
    var sortBy = fileSortBy
    var order = fileOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(fileSortBy == newSortBy) {
            if(fileOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.Statistics.list(newPage, sortBy, order, filenameFilter)
    
}


@**********************************
    Helper generating table headers 
***********************************@
@fileHeader(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(fileSortBy == key) @{if(fileOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@fileLink(0, key)">@title</a>
    </th>
}
