@*****************************
    Main page of application
*****************************@

@(errorMessage: String)

@import helper._

@main(title = "Nazwa projektu", actualWebsite = "home"){
	<div class="hero-unit">

		@projectDescription

		@if(errorMessage != null){
			<div class="alert alert-error">
  				<a class="close" data-dismiss="alert">x</a>
 				<strong class="alert-heading">Oh snap!</strong>
				@errorMessage!
			</div>
		}

		@form(action = routes.MetadataController.uploadAndProcessData, 'enctype -> "multipart/form-data") {
		<center>
			<div class="fileupload fileupload-new" data-provides="fileupload">
        			<span class="btn btn-large btn-primary btn-file">
					<span class="fileupload-new">Select file</span>
					<span class="fileupload-exists">Change</span>
					<input type="file" name="file"/>
				</span>
                		<span class="fileupload-preview"></span>
                		<a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">&times;</a>
    		
				<input class="btn btn-success btn-large"  type="submit" value="Wyciągnij metadane!"> 
   
  	  		</div>
		</center>
		}

	</div>


	<div class="row">
	
		<div class="span6 offset3">
			<div class="span2">
				<a href="http://www.icm.edu.pl"><img src="@routes.Assets.at("images/icm-logo.png")"></a>
			</div>
			<div class="span2">
				<a href="http://www.ceon.pl"><img src="@routes.Assets.at("images/ceon-logo.png")"></a>
			</div>
		</div>
	</div>

}

@projectDescription() ={
	<h1>Few word about the project!!</h1> </br>
	<p>Brief summary in a few sentences the idea of the project. </br>
	Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. </p>
}
